/* Desktop styling */

#location-enter {
    background-color: #FBFBFB;
    border-radius: 6px;
    margin-top: 6%;
    padding: 5%;
    text-align: center;
}

#app-header {
    text-align: center;
    font-size: 5.8em;
}

#loading-container {
    margin-top: 8%;
    padding: 5%;
    font-size: 2.5em;
    background-color: #FBFBFB;
    border-radius: 6px;
}

#submit-button {
    margin-top: 2%;
}

#return-btn {
    margin-top: 1%;
}

#weather-data-container {
    background-color: #FBFBFB;
    border-radius: 6px;
}

#city-hdr {
    margin-top: 2%;
    text-align: center;
    font-size: 1.4em;
}

.curr-wx {
    text-align: center;
}

#wx-icon {
    height: 80px;
    width: 80px;
}

.curr-big {
    font-size: 3.5em;
}

#main-wx {
    font-weight: 600;
    font-size: 1.2em;
}

.curr-details {
    font-weight: 600;
    font-size: 1.2em;
}

.sect-header {
    margin-top: 4%;
    text-align: center;
}

.sub-sect {
    margin-top: 1%;
    text-align: center;
    font-size: 1.2em;
}

.sub-day {
    font-size: 1.4em;
    font-weight: 600;
    border-bottom: 1px solid black;
}

/* Mobile Styles */
@media only screen and (max-width: 750px) {

#loading-container {
    font-size: 1.4em;
}

#location-enter {
        margin-top: 20%;
}

#forecast-row {
    margin-top: 8%;
}

#addt-data {
    margin-top: 6%;
}
}