<div class="container-fluid">
  <header class="row" id="city-hdr">
    <div class="col-md-4 offset-4">
      <h1>Bogalusa, LA</h1>
    </div>
  </header>
  <div class="row">
    <div class="col-md-6 offset-3" id="curr-wx">
      <h2>Current Weather:</h2>
      <p>Temp: 24C</p>
      <p>Humidity: 36%</p>
      <p>Winds: None</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3 sect-header">
      <h2>Forecast Weather:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-1 sub-sect">
      <p>Temp: 24C</p>
      <p>Humidity: 36%</p>
      <p>Winds: None</p>
    </div>
    <div class="col-md-2 sub-sect">
      <p>Temp: 24C</p>
      <p>Humidity: 36%</p>
      <p>Winds: None</p>
    </div>
    <div class="col-md-2 sub-sect">
      <p>Temp: 24C</p>
      <p>Humidity: 36%</p>
      <p>Winds: None</p>
    </div>
    <div class="col-md-2 sub-sect">
      <p>Temp: 24C</p>
      <p>Humidity: 36%</p>
      <p>Winds: None</p>
    </div>
    <div class="col-md-2 sub-sect">
      <p>Temp: 24C</p>
      <p>Humidity: 36%</p>
      <p>Winds: None</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3 sect-header">
      <h2>Active Weather Alerts:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-4 sub-sect" id="wx-alerts">
      <h4>NONE</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3 sect-header">
      <h2>Current Pollution Levels:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-4 sub-sect" id="pollution-data">
      <p>Polloution data here</p>
    </div>
  </div>
</div>
