<div class="container-fluid" *ngIf="!cityInputted; else weatherData">
  <div class="row">
    <div class="col-md-12" id="app-header">
      <p>WxTell</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3" id="location-enter" *ngIf="!loading; else loadingSpan">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input class="form-control "type="text" placeholder="Enter city here..."
        name="cityName" ngModel>
        <button class="btn btn-primary" id="submit-button" 
        type="submit">Submit</button>
      </form>
    </div>
  </div>
    <ng-template #loadingSpan>
      <div class="col-md-12" id="loading-container">
        <p>Loading weather...</p>
      </div>
    </ng-template>
</div>
<ng-template #weatherData>
<div class="container-fluid" id="weather-data-container">
  <header class="row" id="city-hdr"> 
    <div class="col-md-4">
      <h1>{{displayCity}}</h1>
      <p>{{displayDate}}</p>
    </div>
  </header>
  <div class="row">
    <div class="col-md-3 curr-wx">
      <p class="curr-big">{{displayTemp}} F</p>
    </div>
    <div class="col-md-3 curr-wx">
      <p id="main-wx">{{displayMain}}</p>
    </div>
    <div class="col-md-1 curr-wx">
      <p><span class="curr-details">Humidity:</span></p> 
      <p>{{displayHumid}} %</p>
    </div>
    <div class="col-md-2 curr-wx">
      <p><span class="curr-details">Winds:</span></p> 
      <p>From {{displayWindDir}} at {{displayWindSpd}} M/s</p>
    </div>
  </div>
  <div class="row" id="forecast-row">
    <div class="col-md-1 offset-md-1 sub-sect">
      <p class="sub-day">{{forecast.dayOne.date}}</p>
      <p>{{forecast.dayOne.temp}} F</p>
      <p>{{forecast.dayOne.humid}}%</p>
      <p>{{forecast.dayOne.main}}</p>
    </div>
    <div class="col-md-1 offset-md-1 sub-sect">
      <p class="sub-day">{{forecast.dayTwo.date}}</p>
      <p>{{forecast.dayTwo.temp}} F</p>
      <p>{{forecast.dayTwo.humid}}%</p>
      <p>{{forecast.dayTwo.main}}</p>
    </div>
    <div class="col-md-1 offset-md-1 sub-sect">
      <p class="sub-day">{{forecast.dayThree.date}}</p>
      <p>{{forecast.dayThree.temp}} F</p>
      <p>{{forecast.dayThree.humid}}%</p>
      <p>{{forecast.dayThree.main}}</p>
    </div>
    <div class="col-md-1 offset-md-1 sub-sect">
      <p class="sub-day">{{forecast.dayFour.date}}</p>
      <p>{{forecast.dayFour.temp}} F</p>
      <p>{{forecast.dayFour.humid}}%</p>
      <p>{{forecast.dayFour.main}}</p>
    </div>
    <div class="col-md-1 offset-md-1 sub-sect">
      <p class="sub-day">{{forecast.dayFive.date}}</p>
      <p>{{forecast.dayFive.temp}} F</p>
      <p>{{forecast.dayFive.humid}}%</p>
      <p>{{forecast.dayFive.main}}</p>
    </div>
  </div>
</div>
</ng-template>
