/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    font-family: 'Playfair Display', serif;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
}

#app-cont {
    min-height: 100vh;
    /*
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('./assets/images/space.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    background-color: #32B1CC;
    padding: 5%;
}
